.bal-display-main {
  width: 300px;
  border: 20px solid rgb(7, 146, 137);

  height: 300px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bal-display-min {
  font-size: 50px;
}
